<div class="container">
  <div>
    <h1>Book list</h1>
    <div class="book__list">
      <app-book
        *ngFor="let book of books"
        [book]="book"
        [showButtonAddBook]="true"
        (clickAddBook)="addBook(book)"
      ></app-book>
    </div>
  </div>
  <div style="border: 1px solid red; min-height: 10rem">
    <h1>Reading Book List</h1>
    <div class="reading__book__list">
      <app-book
        *ngFor="let book of readingBooks"
        [book]="book"
        [showButtonDeleteBook]="true"
        (clickDeleteBook)="deleteBook(book)"
      ></app-book>
    </div>
  </div>
</div>
